
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #d7a9a9;
}


.banner {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner h1 {
    font-size: 6vh;
    color: #c55f5f;
}

.banner p {
    font-size: 3vh;
    color: #c55f5f;
    margin-top: 10px;
}

/* Menu */
.navbar {
    background-color: #8f3e3f;
    padding: 10px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


main {
    padding: 20px;
}

/* Sobre */
#sobre {
    text-align: center;
    margin-bottom: 30px;
}

.imagem-sobre {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Discografia */
#discografia {
    text-align: center;
}

.grid-discografia {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.album {
    background-color: #af4e50;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.123);
    
}

.album img {
    width: 100%;
    border-radius: 5px;
}

.album p {
    font-size: 1.2rem;
    margin-top: 10px;
}


/* Rodapé */
footer {
    background-color: #8f3e3f;
    color: black;
    text-align: center;
    padding: 10px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .grid-discografia {
        grid-template-columns: 1fr;
    }
}

/* Animação CSS */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1, h2, p {
    animation: fadeIn 1s ease-out;
}

/* ----- EFEITO DE GIRO 3D NAS DIVS .ALBUM ----- */
.album {
  perspective: 1000px;
}

.album-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.album:hover .album-inner {
  transform: rotateY(180deg);
}

/* Faces do card */
.album-front,
.album-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.123);
}

/* Frente (imagem + texto) */
.album-front {
  background-color: #af4e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album-front img {
  width: 100%;
  border-radius: 5px;
}

.album-front p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: white;
}

/* Verso */
.album-back {
  background: linear-gradient(135deg, #8f3e3f, #c55f5f);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
}
